<div class="card shadow-sm">

  <div class="card-header bg-dark text-white">
    <h2 class="mb-0"><%= @book.title %></h2>
  </div>

  <div class="card-body">

    <table class="table table-bordered">

      <tr>
        <th width="25%">Author</th>
        <td><%= @book.author.name %></td>
      </tr>

      <tr>
        <th>Publisher</th>
        <td><%= @book.publisher.name %></td>
      </tr>

      <tr>
        <th>Category</th>
        <td><%= @book.category.name %></td>
      </tr>

      <tr>
        <th>ISBN</th>
        <td><%= @book.isbn %></td>
      </tr>

      <tr>
        <th>Language</th>
        <td><%= @book.language %></td>
      </tr>

      <tr>
        <th>Pages</th>
        <td><%= @book.pages %></td>
      </tr>

      <tr>
        <th>Rating</th>
        <td><%= number_with_precision(@book.rating, precision: 2) %></td>
      </tr>

    </table>

    <%= link_to "Back to Books", books_path, class: "btn btn-primary" %>

  </div>

</div>